.popup__info-text {
    max-width: 358px;
    margin:auto;
    padding: 0%;
    border: none;
    position: relative;
 }
 

 @media screen and (max-width:875px) {
     .popup__info-text {
         max-width: 300px;
     }
 }

 @media screen and (max-width:320px) {
     .popup__info-text {
         max-width: 238px;
         
     }  
 }

