.popup__submit-button {
    margin-top: 48px;
    color:white;
    font-size: 18px;
    padding: 14px 125px 18px;
    background-color: black;
    border: none;
}

@media screen and (max-width:875px) {
    .popup__submit-button {
        padding: 15px 85px 15px;
        max-width: 300px;
        font-size: 16px;   
    }
}

@media screen and (max-width:320px) {
    .popup__submit-button {
        padding: 14px 74px 14px;
        max-width: 238px;
        font-size: 14px;
    }
}
.popup__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}