.popup__submit-button {
    margin-top: 48px;
    color:white;
    font-size: 18px;
    padding: 14px 125px 18px;
    background-color: black;
    border: none;
}

@media screen and (max-width:320px) {
    .popup__submit-button {
        padding: 14px 74px 14px;
        max-width: 238px;
        font-size: 14px;
    }
}
.popup__submit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}