.footer__info {
    max-width: 318px;
    font-size: 18px;
    color:#545454;
    margin: 0;
    }
    
    @media screen and (max-width:1024px) and (min-width:321px) {
        .footer__info {
            padding-left: 20px;
            }
        }

    @media screen and (max-width:320px) {
        .footer__info {
            max-width: 282px; 
        }
    }