
.header__logo {
    margin: 0;
    padding: 0;
    max-width: 142px;
    }
    

@media screen and (max-width:1024px) and (min-width:321px) {
    .header__logo {
        padding-left: 20px;
        }
    }

 @media screen and (max-width:320px) {
    .header__logo {
        max-width: 104px;
        padding-left: 27px;
        }  
    }