.popup__heading {
    margin-top: 0%;
}

@media screen and (max-width:875px) {
    .popup__heading {
        max-width: 300px;
        font-size: 18px;
    }
}

@media screen and (max-width:320px) {
    .popup__heading {
        max-width: 238px;
    }  
}
