.profile__add-button {
    padding: 25px 75px;
    background-color: black;
    border: 2px solid white;
    background-image: url(../../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;  
}

@media screen and (max-width:672px) {
    .profile__add-button {
       margin: 0 auto;
       padding: 25px 130px;
    } 
}

@media screen and (max-width:320px) {
    .profile__add-button {
        align-self: auto;
        margin-top: 36px;
    } 
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

