.login {
    max-width: 358px;
    margin: auto;
}

.login__button {
    color: black;
    background-color:  #FFFFFF;
    margin-top: 216px;
}

.login__input{
    color: rgba(204, 204, 204, 1);
    background-color: transparent;
    max-width: 358px;
    border-bottom: 2px solid rgba(204, 204, 204, 1);
    margin-top: 14px;
}

.login__title {
    text-align: center;

}

.register__text{
    text-align: center;
}